* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f7f7f2;
}

.display {
    border-radius: 10px;
    padding: 30px 20px 50px 40px;
    height: 130px;
    background-color: #89c2d9;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
    align-items: flex-end;
    color: white;

}

.top-display {
    font-size: 16px;
}


.calculator {
    margin: 100px auto;
    width: fit-content;
    padding: 20px 30px;
    border: solid;
    background-color: #edf2f4;
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    padding: 20px;
    width: 60px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 10px;
    text-decoration: none;
    
}

.clearBtn {
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #3c6e71;
    color: white;
    border: none;
    text-decoration: none;
}







