* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.display {
    border: solid;
    padding: 50px;
}

.calculator {
    margin: 100px auto;
    width: fit-content;
    padding: 20px;
    border: solid;
    
}

.btn-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.btn {
    padding: 20px;
    width: 60px;
    font-size: 20px;
}





